<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>发表留言</title>
    <script src="/public/lib/jquery-1.12.4.min.js"></script>
    <script src="/public/lib/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/lib/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>留言本 <small>Subtext for header</small></h1>
      </div>
      <!-- <form action='/comment' method='GET'> -->
        <form action='/post' method='POST'>
        <!--
            传统表单的提交方式
            表单中需要提交的表单控件原件必须有 name 属性

        -->

        <div class="form-group">
          <label for="name">您的大名</label>
          <input
            type="text"
            class="form-control"
            placeholder="name"
            name="name"
            required
            minlength="2"
          />
        </div>
        <div class="form-group">
          <label for="description">留言内容</label>
          <textarea class="form-control" rows="3" name="description"required minlength="1"></textarea>
        </div>
        <button type="submit" class="btn btn-success">提交留言</button>
      </form>
    </div>
  </body>
</html>
